.my-form {
   margin-top: 40px !important;
   width: 220px;
   margin: 0 auto;
}

.btn-submit {
   width: 70px;
   height: 30px;
}

p {
   display: flex;
   justify-content: space-between;
}

.msg-allert {
   color: red;

}