.container {
   width: 1140px;
   margin: 0 auto;
}

.img-main {
   height: 750px;
}

.selected {
   border: 6px solid gray;
   width: 172px;
}

.selected:focus {
   border: 6px solid darkslategray;
   cursor: pointer;
}